<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>
    <connectionStrings>
        <add name="constr" connectionString="Data Source=DESKTOP-VK7QM2L\SQLEXPRESS;Initial Catalog=Personal;Integrated Security=true" />
        <add name="PersonalConnectionString" connectionString="Data Source=DESKTOP-VK7QM2L\SQLEXPRESS;Initial Catalog=Personal;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="PersonalConnectionString2" connectionString="Data Source=DESKTOP-VK7QM2L\SQLEXPRESS;Initial Catalog=Personal;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  
</configuration>
